.nav-sidebar {
  height: 93vh;
  /*border: 1px solid red;*/
}
.image-user {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.image-user img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}


.nav-item:hover {
  background: #545454 ;
}


.nav-sidebar-link li {
  list-style: none;
  padding-left: 15px;
}
.nav-sidebar-link {
  padding: 0;
}

/*.nav-sidebar-link li:hover , .text-collapse:hover {*/
  /*background: #E7E7E7;*/
/*}*/


.list-text , .text-title {
  text-decoration: none;
  color: #A2A2A2;
}

.text-gray {
  color: #A1A1A1;
}

.text-title:hover {
  /*background: #E7E7E7;*/
}


.nav-sidebar-link li a {
  font-size: 14px;
  /*color: #393982;*/
  /*font-weight: bold;*/
}

.name-user {
  font-size: 14px;
}
.nav-sidebar-link li a:hover {
  color: #2E2E2E;
}

/****************/
.hide {
  /*hidden: none;*/
  display: none;
}

li[data-style='box'] {
  border-left: 3px solid #48489D;
  background-color: #E2E2E2;
}

li[data-style='box'] a:first-child{
  color: #393982;
  font-weight: bold;
}

.box-mouse-hover {
  border: 1px solid #EBEBEB;
  position: absolute;
  left: 100%;
  width: 150px;
  /*bottom: 50px;*/


  box-shadow: 1px 1px 1px #EBEBEB;
  /*padding-right: 5vw;*/

}

.box-to {
  position: relative;
}

/*.display-none {*/
  /*display: none;*/
/*}*/
/*.display-block {*/
  /*display: block;*/
/*}*/
