.nav-sidebar {
  height: 93vh;
  /*border: 1px solid red;*/
}
.image-user {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.image-user img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}


.nav-item:hover {
  background: #545454 ;
}


.nav-sidebar-link li {
  list-style: none;
  padding-left: 15px;
}
.nav-sidebar-link {
  padding: 0;
}

.nav-sidebar-link li:hover , .text-collapse:hover {
  background: #E7E7E7;
}


.list-text , .text-title {
  text-decoration: none;
  color: #A2A2A2;
}

.text-gray {
  color: #A1A1A1;
}

.text-title:hover {
  background: #E7E7E7;
}


.nav-sidebar-link li a {
  font-size: 14px;
  /*color: #393982;*/
  /*font-weight: bold;*/
}

.name-user {
  font-size: 14px;
}
.nav-sidebar-link li a:hover {
  color: #2E2E2E;
}
