.nav-sidebar {
  height: 93vh;
}

/*Style para la imagen del usuario*/
.image-user,
.image-user img {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.nav-link:hover {
  background-color: #E2E2E2;
  color: var(--gray-dark)!important;
}
.display-none {
  display: none;
}
