.navbar {
  height: 40px;
}

.input-group  {
  border-radius: 5px;
  background: #5C5C8C;
}

.input-search {
  height: 30px;
 }

.input-search::placeholder {
  color: #B9B9DC;
  font-size: 14px;
}

i {
  color: #B9B9DC;
}

.text-purple:hover {
  color: #ffffff!important;
  background: #4B4B7E;
  border-radius: 5px;
}

.input-search:focus {
  box-shadow: none;
}

