/*--blue-dark: #292961;*/
/*--blue-light: #B9B9DC;*/
/*--gray: #545454;*/
/*--gray-dark: #2E2E2E;*/
/*--gray-light: #B8B8B8;*/

.navbar {
  height: 40px;
}

.input-group  {
  border-radius: 5px;
  background: #5C5C8C;
}

.input-search {
  height: 30px;
 }

.input-search::placeholder {
  color: var(--blue-light);
  font-size: 14px;
}

i {
  color: #B9B9DC;
}

.text-purple:hover {
  color: #ffffff!important;
  background: #4B4B7E;
  border-radius: 5px;
}

.input-search:focus {
  box-shadow: none;
  background-color: #FFFFFF!important;
  color: #000000;

}

.input-search-click {
  background-color: white;
}

.dropdown-menu{
  margin-right: 20vh!important;
  /*border:1px solid red;*/
}

.dropdown > .dropdown-menu{
  /*border: 1px solid green*/
  left: -8vw!important;
  top: 25px;
  box-shadow: 1px 1px 1px var(--blue-light);
  font-size: 13px;
}
.dropdown-menu>a:hover {
  background-color: #FAFAFA!important;
}

