/*----- colores -----*/
:root{
  --blue-dark: #292961;
  --blue-light: #B9B9DC;
  --gray: #545454;
  --gray-dark: #2E2E2E;
  --gray-light: #B8B8B8;
}

/*----- seteando -----*/
*, body {
  font-family: 'Roboto', sans-serif;
}

/*----- style generales -----*/
.border-radius-5 {
  border-radius: 10px;
}

.bg-blue {
  background: var(--blue-dark);
}

.text-gray {
  color: var(--gray-light)!important;
}

.text-size-12 {
  font-size: 12px;
}

.text-size-14 {
  font-size: 14px;
}

.text-purple {
  color: var(--blue-light)!important;
}
